<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ListDebt</servlet-name>
        <servlet-class>controller.debt.ListDebt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOTPController</servlet-name>
        <url-pattern>/verifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDebt</servlet-name>
        <url-pattern>/ListDebt</url-pattern>
    </servlet-mapping>
</web-app>
