<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/LoginURL</url-pattern>
        <url-pattern>/URLOrder</url-pattern>
        <url-pattern>/ListDebt</url-pattern>
        <url-pattern>/createuser</url-pattern>
        <url-pattern>/listusers</url-pattern>
        <url-pattern>/CreateOrderServlet</url-pattern>
        <url-pattern>/AddNewCustomerDebt</url-pattern>
        <url-pattern>/SearchServlet</url-pattern>
        <url-pattern>/URLOrderDetail</url-pattern>
        <url-pattern>/ListCustomer</url-pattern>
        <url-pattern>/AddCustomer</url-pattern>
        <url-pattern>/UpdateCustomer</url-pattern>
        <url-pattern>/ListDebtCustomer</url-pattern>
        <url-pattern>/ListProducts</url-pattern>
        <url-pattern>/CreateProduct</url-pattern>
        <url-pattern>/DeleteProduct</url-pattern>
        <url-pattern>/CheckIsDelete</url-pattern>
        <url-pattern>/ListProductCheckIs</url-pattern>
        <url-pattern>/SearchProducts</url-pattern>
        <url-pattern>/updateuser</url-pattern>
        <url-pattern>/UpdateProducts</url-pattern>
        <url-pattern>/updateprofile</url-pattern>
        <url-pattern>/changepassword</url-pattern>
        <url-pattern>/verifyotp</url-pattern>
        <url-pattern>/sendotp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.login.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDebt</servlet-name>
        <servlet-class>controller.debt.ListDebt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createUser</servlet-name>
        <servlet-class>controller.user.createUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUsers</servlet-name>
        <servlet-class>controller.user.listUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCustomerDebt</servlet-name>
        <servlet-class>controller.debt.AddNewCustomerDebt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.order.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomer</servlet-name>
        <servlet-class>controller.customer.ListCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>controller.customer.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomer</servlet-name>
        <servlet-class>controller.customer.UpdateCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDebtCustomer</servlet-name>
        <servlet-class>controller.debt.ListDebtCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProducts</servlet-name>
        <servlet-class>controller.products.ListProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>controller.products.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.products.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckIsDelete</servlet-name>
        <servlet-class>controller.products.CheckIsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductCheckIs</servlet-name>
        <servlet-class>controller.products.ListProductCheckIs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProducts</servlet-name>
        <servlet-class>controller.products.SearchProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>controller.user.updateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProducts</servlet-name>
        <servlet-class>controller.products.UpdateProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>controller.user.updateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controller.user.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderStatusServlet</servlet-name>
        <servlet-class>controller.order.CheckOrderStatusServlet</servlet-class>
        <servlet-name>sendOTP</servlet-name>
        <servlet-class>controller.user.sendOTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verifyOTPServlet</servlet-name>
        <servlet-class>controller.user.verifyOTPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordServlet</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginURL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOTPController</servlet-name>
        <url-pattern>/verifyOTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDebt</servlet-name>
        <url-pattern>/ListDebt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createUser</servlet-name>
        <url-pattern>/createuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUsers</servlet-name>
        <url-pattern>/listusers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>controller.order.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/CreateOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCustomerDebt</servlet-name>
        <url-pattern>/AddNewCustomerDebt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ControllerOrder</servlet-name>
        <servlet-class>controller.showOrder.ControllerOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerOrder</servlet-name>
        <url-pattern>/URLOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerOrderDetail</servlet-name>
        <url-pattern>/URLOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomer</servlet-name>
        <url-pattern>/ListCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomer</servlet-name>
        <url-pattern>/UpdateCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDebtCustomer</servlet-name>
        <url-pattern>/ListDebtCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProducts</servlet-name>
        <url-pattern>/ListProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/CreateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckIsDelete</servlet-name>
        <url-pattern>/CheckIsDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductCheckIs</servlet-name>
        <url-pattern>/ListProductCheckIs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProducts</servlet-name>
        <url-pattern>/SearchProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProducts</servlet-name>
        <url-pattern>/UpdateProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>

        <servlet-name>CheckOrderStatusServlet</servlet-name>
        <url-pattern>/CheckOrderStatusServlet</url-pattern>
</servlet-mapping>
        <servlet-mapping>
        <servlet-name>sendOTP</servlet-name>
        <url-pattern>/sendotp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verifyOTPServlet</servlet-name>
        <url-pattern>/verifyotp</url-pattern>
    </servlet-mapping>
</web-app>
